.women {
  margin: 0 auto 110px;
  width: 1140px;

  &__title {
    margin-bottom: 16px;
    text-align: center;

    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  &__description {
    text-align: center;
    margin-bottom: 64px;

    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
  }

  &__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}